body{
    background-color: aliceblue;
}
.image-sec{
    background:rgba(0,0,0,0.7)url("../yame_image/w1.jpg");
    background-blend-mode:darken ;
    height: 500px;
    width: 100%;
    position: relative;
}
.first-sec{
    position: absolute;
    top:40%;
    color: white;
    justify-content: space-between;
    margin-left: 10px;

}
.h1tag{
    font-size: 60px;
}
.list{
    display: flex;
    justify-content: right;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    padding-left:0px ;
    padding-right: 17px;
    padding-top: 20px;
    margin-left:600px;
    margin-top: 0;
    font-size: 21px;
}
.icon{
    color: black;
    padding-left: 6px;
}
ol > li{
    list-style-type: none;
}
li > a{
    text-decoration: none;
    color: black;
    padding-left: 8px;
}
.item1{
    color: tomato;
}
.item2{
    color: gray;
}
.image{
    background-image: url("../yame_image/t-1.jpg");
    width:350px;
    position: relative;
    height: 300px;
    margin-top: 30px;
    margin-left: 10px;

}
.image2{
    background-image: url("../yame_image/t-2.jpg");
    width:350px;
    position: relative;
    height: 300px;
    margin-top: 30px;
    margin-left: 10px;

}
.image3{
    background-image: url("../yame_image/t-3.jpg");
    width:350px;
    position: relative;
    height: 300px;
    margin-top: 30px;
    margin-left: 10px;

}
.image4{
    background-image: url("../yame_image/t-4.jpg");
    width:350px;
    position: relative;
    height: 300px;
    margin-top: 30px;
    margin-left: 10px;

}
.image5{
    background-image: url("../yame_image/t-5.jpg");
    width:350px;
    position: relative;
    height: 300px;
    margin-top: 30px;
    margin-left: 10px;

}
.image6{
    background-image: url("../yame_image/t-6.jpg");
    width:350px;
    position: relative;
    height: 300px;
    margin-top: 30px;
    margin-left: 10px;

}
.text{
    position: absolute;
     color:black;
    bottom:0;
    padding-left: 12px;
    
    background-color: white;
}
.fab{
    font-size: 30px;
    font-weight:lighter;
    margin-left: 80px;
    margin-top: 0;
    background-color: #ca9b5f;
    margin-bottom: 20px;
    color: white;
    padding: 0px;
    border: 1px solid;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    display: inline-block;
    

}
.fab:hover{
    background-color:#0f1b37;
}.icom:hover{
    animation: mymove 5s ease-in-out;
}
@keyframes mymove{
    50%{transform : rotate(60deg);}
}
#check{
    font-size: 30px;
    color: white;
    float:top;
    cursor: pointer;
    display: none;
}
.firstsec1{
    display: none;
    position: absolute;
}
.firstsec1 li{
    color: black;
    text-decoration: none;
}
.checkbtn:hover .firstsec1{
    display: block;
}
.dropbtn{
background-color: #ca9b5f;
color: white;
border: none;
}
.dropbtn:hover{
    background-color: #0f1b37;
}
.drop-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 40px;
    bottom: 50px;
    z-index:1;
}
.drop-content a{
    color: black;
    padding: 0px 0px;
    text-decoration: none;
    display: block;
    font-size: 10px;
    margin: 0;
}
.drop-content a:hover{
    background-color: white;
}
.fab:hover .drop-content{
    display: block;
}
.imog{
    color: black;
    background-color: white;
    border: none;
    margin-left:4px;
}
.imog:hover{
    color: black;
    background-color: white;
}
.mytext{
    border: 1px solid white;
    padding: 10px;
    background-color: white;
    width: 73%;
}
.mytext:hover{
    box-shadow:rgba(100,100,111,0.2) 0px 7px 29px 0px;
}



.counter-section i {
    display: block;
    margin: 0 0 10px
}

.counter-section span.counter {
    font-size: 40px;
    color: #000;
    line-height: 60px;
    display: block;
    font-family: "Oswald", sans-serif;
    letter-spacing: 2px
}

.counter-title {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase
}
.counter-icon {
    top: 25px;
    position: relative
}

.counter-style2 .counter-title {
    letter-spacing: 0.55px;
    float: left
}

.counter-style2 span.counter {
    letter-spacing: 0.55px;
    float: left;
    margin-right: 10px
}

.counter-style2 i {
    float: right;
    line-height: 26px;
    margin: 0 10px 0 0
}
.counter-subheadline span {
    float: right
}
.nextcounter{
    border: 1px solid white;
    border-radius: 40px;
    margin-left: 18px;
    background-color: white;
    margin-right: 18px;
    padding-top: 18spx;
    box-shadow: rgba(50,50,93,0,25) 0px 13px 27px -5px, rgba(0,0,0,0.3) 0px 8px 16px -8px ;
}

.fsec{
    margin-left: 45px;
    background-color: #f8f8f8;
}
.t5tag{
    color:#0f1b37;
    font-size: 20px;
    cursor: pointer;
    margin-top: 12px;

}
.t5tag:hover{
    color: #ca9b5f;
}
.card-text{
    color: gray;
}
.card-text1{
    color: gray;
    cursor: pointer;
}
.card-text1:hover{
    color: #ca9b5f;
}
.by{
    margin-left: 20px;
    cursor: pointer;
}
.card-img-top{
    position: relative;
}
.butn{
    position: absolute;
    right: 12px;
    border: 1px solid #ca9b5f;
    top:45%;
    background-color: #ca9b5f;
    color: white;
    border-radius: 30px;
    padding: 5px 18px;
    cursor: pointer;

}
.butn:hover{
    background-color: #f88f06;
}
.h5tag{
    color: #ca9b5f;
}
.h2tag{
    font-size: 50px;
    margin-bottom: 15px;
}

@media (max-width: 800px) {
    image-sec{
        height: 400px;
    }
    .h1tag{
        font-size: 40px;
    }
    .list{
        margin-left: 0;
    }
    .d-flex.first-sec{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .d-flex.or{
        flex-direction: column;
    }
    .fsec{
        margin-left:0;
        margin-bottom: 20px;
    }
}